.password-requirements ul {
  list-style: none;
  padding: 0;
  /* display: flex; */
  flex-wrap: wrap;
  gap: 10px;
}

.password-requirements li {
  color: black;
}

.password-requirements li.valid {
  color: green;
}

.password-requirements li.invalid {
  color: red;
}

.error-message {
  color: red;
}

.custom-input {
  width: 100%; /* or any other width */
}
