body {
  margin: 0;
  padding: 0;
}

.main-container {
  min-height: 100vh;
  width: 100vw;
  background-image: url("../img/happy-family.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  gap: 20px;
}

.welcome-text {
  flex-basis: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container {
  flex-basis: 50%;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
}

.form-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.password-requirements ul {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  gap: 10px;
}

.password-requirements li {
  color: black;
}

.password-requirements li.valid {
  color: green;
}

.password-requirements li.invalid {
  color: red;
}

.error-message {
  color: red;
}

.login-link {
  color: #ff8c00 !important;
  text-decoration: none;
  font-weight: bold;
}

.login-link:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .welcome-text,
  .form-container {
    flex-basis: 100%;
  }
}
